
body {
    background-color: rgb(244, 244, 244);
}

h1, h5, h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}

h2 {
    color: #007bff; 
}

.sightDrop {
    text-indent: 500px;
}

img {
    width: 900px;
    height: 400px;
}

 #map {
        height: 80%;
      }

.date {
    text-align: center;
}

#heroCarousel {
   text-align: center;
  }

  .ptop {
      position: relative;
      bottom: 12px;
  }

  .list {
      background-color: rgb(255, 255, 255);
}

.showHeroes {
    font-size: 20px;
}

.styleNav {
    background-color: #007bff;
}

.nav-link {
    color: white;
}

.blue {
    background-color: #007bff;
}



