
body {
    background-color: rgb(244, 244, 244);
}

.sightDrop {
    text-indent: 500px;
}

img {
    width: 900px;
    height: 400px;
}

 #map {
        height: 80%;
      }

.date {
    text-align: center;
}

.carousel-inner img {
  margin: auto;
}